@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-paper text-ink;
}

.card {
  @apply rounded-2xl border-2 border-ink bg-white p-4 shadow-sm;
}
